server:
  port: 8080

spring:
  application:
    name: Java Camunda Platform 7 Embedded

springdoc:
  swagger-ui:
    try-it-out-enabled: true

dev:
  bpm-crafters:
    process-api:
      adapter:
        c7embedded:
          enabled: true
          service-tasks:
            delivery-strategy: embedded_scheduled
            worker-id: embedded-worker
            lock-time-in-seconds: 10
            execute-initial-pull-on-startup: true
            schedule-delivery-fixed-rate-in-seconds: 10
            retries: 3
            max-task-count: 100
            retry-timeout-in-seconds: 30
          user-tasks:
            delivery-strategy: embedded_event_and_scheduled
            execute-initial-pull-on-startup: true
            schedule-delivery-fixed-rate-in-seconds: 10
camunda:
  bpm:
    webapp:
      index-redirect-enabled: false
    admin-user:
      id: admin
    filter:
      create: All
    login:
      enabled: true
      user-id: admin
    auto-deployment-enabled: false
    default-serialization-format: application/json

logging:
  level:
    dev.bpmcrafters.processengineapi: DEBUG
